{% extends 'layout.njk' %}

{% block content %}

<div class="container">
  <div class="column">
    <h1 class="title is-2">Azure Service Bus Test Client</h1>

    <form id="frm-message" action="/">
      <div class="field">
        <label class="label">Connection String</label>
        <div class="control">
          <input class="input" type="text" name="connectionString" value="{{ body.connectionString }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Queue</label>
        <div class="control">
          <input class="input" type="text" name="queue" value="{{ body.queue }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Message Id Property Name</label>
        <div class="control">
          <input class="input" type="text" name="messageId" value="{{ body.messageId }}">
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" name="message" placeholder="enter message" rows="7">{{ body.message }}</textarea>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="radio">
            <input type="radio" name="format" value="json" checked>
            JSON
          </label>
          <label class="radio">
            <input type="radio" name="format" value="string">
            String
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-link" id="send">Send</button>
        </div>
          <p>Messages attempted to be sent <span id="message-count-total"></span></p>
          <p>Messages successfully sent <span id="message-count-success"></span></p>
          <p>Messages failed to be sent <span id="message-count-error"></span></p>
      </div>
    </form>
  </div>

  <div id="results" class="column" style="display: none">
    <article class="message is-primary">
      <div class="message-header">
        <p>Latest result</p>
      </div>
      <div id="latest-result-text" class="message-body">
      </div>
    </article>
    <article id="previous-results-banner" class="message is-info is-hidden">
      <div class="message-header">
        <p>Previous results</p>
      </div>
    </article>
    <article class="message is-info is-small">
    </article>
  </div>
</div>

<script>
  let messageCountTotal = 0
  let messageCountSuccess = 0
  let messageCountError = 0

  $("#frm-message").submit(function (e) {
    messageCountTotal += 1
    $('#message-count-total').html(messageCountTotal)
    e.preventDefault()
    $('#send').addClass('is-loading')

    const form = $(this);
    const url = form.attr('action')

    setTimeout(() => {
      $('#send').removeClass('is-loading')
    }, 500)

    $.ajax({
      type: "POST",
      url: url,
      data: form.serialize(),
      error: (data) => {
        messageCountError += 1
        $('#message-count-error').html(messageCountError)
        console.log('ERROR...', data)
      },
      success: (data) => {
        messageCountSuccess += 1
        $('#message-count-success').html(messageCountSuccess)
        const lastResult = $('#latest-result-text').html()
        if (lastResult.trim()) {
          $('.message.is-info.is-small').prepend(`<div id="previous-result-text" class="message-body">${lastResult}</div>`)
        }
        if (messageCountTotal === 2) {
          $('#previous-results-banner').removeClass('is-hidden')
        }
        $('#latest-result-text').html(data)

        $('#results').fadeIn(200)
        $('#send').removeClass('is-loading')
      }
    })
  })
</script>

{% endblock %}
